<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no, email=no">
		<!--不要给电话和email自动加上链接-->
		<!--禁止将数字变为电话号码-->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--允许全屏模式浏览，隐藏浏览器导航栏-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<title><%= title %></title>
	</head>
	<body>
	</body>
</html>